<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='my.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script>
    var url_index = "{{ url_for('index', _external=True) }}";
    var url_settings_post = "{{ url_for('settings_post', _external=True) }}";
  </script>
  <script src="{{ url_for('static', filename='settings.js') }}"></script>
</head>
<body>
<div class="container">
  <h2 class="text-center">Settings</h2>
  <div class="form-group checkbox">
    <label>
      <input type="checkbox" id="notify" value="" {{ "checked" if notify_user else "" }}>
      Email me when stocks cross bounds.
    </label>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <button id="submit-button" class="btn btn-default pull-right">Submit</button>
    </div>
    <div class="col-xs-6">
      <button id="cancel-button" class="btn btn-default">Cancel</button>
    </div>
  </div>
</div>
</body>
</html>